# Prediction of Product Rating
#This model is to be trained to predict the Rating of products accourding to product's copmonents.

In [95]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os
import matplotlib.pylab as plt

# Libraries for Model Prediction and Model Evalution

In [96]:
from sklearn.model_selection  import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics

# Importing Data

In [97]:
in_data = pd.read_csv("cereal.csv")
in_data.dtypes

name        object
mfr         object
type        object
calories    object
protein     object
fat         object
sodium      object
fiber       object
carbo       object
sugars      object
potass      object
vitamins    object
shelf       object
weight      object
cups        object
rating      object
dtype: object

In [98]:
in_data.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,String,Categorical,Categorical,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,100% Bran,N,C,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,100% Natural Bran,Q,C,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,All-Bran,K,C,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

In [99]:
in_data.shape

(75, 16)

In [100]:
in_data.describe()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
unique,75,8,3,11,7,6,26,14,23,18,35,4,4,8,13,75
top,Clusters,K,C,110,3,1,0,0,13,3,35,25,3,1,1,49.511874
freq,1,23,71,29,27,30,9,19,8,13,5,60,33,62,28,1

# Preprocessing

In [101]:
data = in_data.drop(['name',"mfr","type"], axis=1)
data.head()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,Int,Int,Int,Int,Float,Float,Int,Int,Int,Int,Float,Float,Float
1,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912

In [102]:
pro_data = data.drop(index=0)
pro_data.head()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,70,4,1,130,10,5,6,280,25,3,1,0.33,68.402973
2,120,3,5,15,2,8,8,135,0,3,1,1,33.983679
3,70,4,1,260,9,7,5,320,25,3,1,0.33,59.425505
4,50,4,0,140,14,8,0,330,25,3,1,0.5,93.704912
5,110,2,2,200,1,14,8,-1,25,3,1,0.75,34.384843

In [103]:
pro_data.columns

Index(['calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars',
       'potass', 'vitamins', 'shelf', 'weight', 'cups', 'rating'],
      dtype='object')

# Split Model into Train and Test

In [104]:
predictors = pro_data[['calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars',
       'potass', 'vitamins', 'shelf', 'weight', 'cups']]
targets = pro_data.rating

In [105]:
pred_train, pred_test, tar_train, tar_test  =   train_test_split(predictors, targets, test_size=.3)

print( "Predictor - Training : ", pred_train.shape, "Predictor - Testing : ", pred_test.shape )

Predictor - Training :  (51, 12) Predictor - Testing :  (23, 12)

# Impliment Prediction Model

In [106]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(pred_train,tar_train)
print("Coefficients: \n", model.coef_)
print("Intercept:", model.intercept_)

#Test on testing data
predictions = model.predict(pred_test)
predictions

Coefficients:
 [ -2.22724170e-01   3.27317382e+00  -1.69140799e+00  -5.44927023e-02
   3.44347982e+00   1.09245094e+00  -7.24895153e-01  -3.39933527e-02
  -5.12119687e-02  -3.00025920e-08   4.43874812e-07  -1.35835469e-08]
Intercept: 54.9271846594

array([ 40.44877238,  41.4450195 ,  27.75330115,  49.78744516,
        39.10617424,  93.70491279,  72.80178711,  34.38484336,
        31.07221726,  50.7649988 ,  33.98367885,  68.40297305,
        36.52368337,  32.20758152,  41.9989331 ,  30.4508434 ,
        23.80404312,  64.53381618,  28.59278463,  59.36399363,
        58.3451415 ,  63.00564548,  40.56015895])

# Evaluation Model

In [107]:
sklearn.metrics.r2_score(tar_test, predictions)

0.99999999999999956

# Prediction on New data

In [108]:
new_data = np.array([70,4,1,260,9,7,5,320,25,3,1,0.33]).reshape(1, -1)
new_pred=model.predict(new_data) 
print("Rating accourding to product's components is  : $",new_pred[0])

Rating accourding to product's components is  : $ 59.4255048541

# Prediction on New data

In [109]:

new_data = np.array([70,4,1,130,10,5,6,280,25,3,1,0.33]).reshape(1, -1)
new_pred=model.predict(new_data) 
print("Rating accourding to product's components is : $",new_pred[0])

Rating accourding to product's components is : $ 68.4029730476